doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    title Agro Expert System
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    link(rel='stylesheet', href='/css/bootstrap.css', media='screen')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='../bower_components/html5shiv/dist/html5shiv.js')
      |       
      script(src='../bower_components/respond/dest/respond.min.js')
    style(type='text/css').
      html,
      body {
      height: 100%;
      }
      #wrap {
      min-height: 100%;
      height: auto;
      margin: 0 auto -60px;
      padding: 0 0 60px;
      }
      #footer {
      height: 60px;
      background-color: #f5f5f5;
      }
      .heading {
      padding-top: 150px;
      padding-bottom:30px;
      text-align: center;
      }
    script(type='text/javascript').
      function validate()
      {
      var district= document.getElementById('district');
      var area= document.getElementById('area');
      var year= document.getElementById('year');
      var dis=district.options[district.selectedIndex].value;
      var are=area.options[area.selectedIndex].value;
      var yea=year.options[year.selectedIndex].value;
      if (dis=="select")
      {
      document.getElementById('warning').className="alert alert-danger";
      document.getElementById('content').innerHTML="Please Select your District!!";
      return false;
      }
      if (are=="select")
      {
      document.getElementById('warning').className="alert alert-danger";
      document.getElementById('content').innerHTML="Please Select your Area Type!!";
      return false;
      }
      if (yea=="select")
      {
      document.getElementById('warning').className="alert alert-danger";
      document.getElementById('content').innerHTML="Please Select the kind of Year Experienced!!";
      return false;
      }
      return true;
      }
  |   
  body
    #wrap
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href='#') Agro Expert System
            |           
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon-bar
              |             
              span.icon-bar
              |             
              span.icon-bar
          |         
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Find Crops
              |             
              li
                a(href='places.php') Find Places
              |             
              li
              li
                a(href='suggestions.php')
                  | Suggestions 
                  span.badge.alert-warning New
              |             
              li
                a(href='about.html\                ') About
      |     
      .container
        .heading
          h3
            span(style='color:#D92432;') Select your district, type of land and year
          |         
          p.lead(style='font-size:15px;') Agro Expert System analyzes your  input and suggests possible Crops to be grown.
        |     &#x9;
        |     &#x9;
        div
          form.form(name='fetch', action='fetch.php', method='post', onsubmit='return validate()')
            .col-md-6.col-md-offset-3
              .row
                .col-xs-4.col-md-4
                  select#district.form-control.input(name='district')
                    option(value='select') District
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='kanchipuram') Kanchipuram
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='thiruvallur') Thiruvallur
                    |               
                    option(value='villupuram') Villupuram
                    |               
                    option(value='thiruvannamalai') Thiruvannamalai
                    |               
                    option(value='vellore') Vellore
                    |               
                    option(value='cuddalore') Cuddalore
                    |               
                    option(value='dharmapuri') Dharmapuri
                    |               
                    option(value='salem') Salem
                    |               
                    option(value='namakkal') Namakkal
                    |               
                    option(value='tiruchengodu') Tiruchengodu in Namakkal
                    |               
                    option(value='erode') Erode
                    |               
                    option(value='coimbatore') Coimbatore
                    |               
                    option(value='dindigul') Dindigul
                    |               
                    option(value='theni') Theni
                    |               
                    option(value='thanjavur') Thanjavur
                    |               
                    option(value='thiruvarur') Thiruvarur
                    |               
                    option(value='nagapattinam') Nagapattinam
                    |               
                    option(value='trichirapalli') Trichirapalli
                    |               
                    option(value='perambalur') Perambalur
                    |               
                    option(value='pudukottai') Pudukottai
                    |               
                    option(value='madurai') Madurai
                    |               
                    option(value='ramanathapuram') Ramanathapuram
                    |               
                    option(value='virudhunagar') Virudhunagar
                    |               
                    option(value='sivagangai') Sivagangai
                    |               
                    option(value='tirunelveli') Tirunelveli
                    |               
                    option(value='thoothukudi') Thoothukudi
                    |               
                    option(value='kanyakumari') Kanyakumari
                |     &#x9;&#x9;&#x9;
                .col-xs-4.col-md-4
                  select#area.form-control.input(name='area')
                    option(value='select') Land
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='tankfed') Tank fed
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='well_irrigated') Well Irrigated
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='rainfed') Rainfed
                |     &#x9;&#x9;&#x9;
                .col-xs-4.col-md-4
                  select#year.form-control.input(name='year')
                    option(value='select') Year
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='normal') Normal Year
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='moderate') Moderate Drought
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='severe') Severe Drought
              |     &#x9;&#x9;&#x9;
              .row(style='padding-top:8%;')
                .col-md-offset-5
                  button.btn.btn-primary(type='submit') Fetch Crops
              .col-md-6.col-md-offset-3(style='padding-top:5%;', align='center')
                #warning.alert.alert-danger
                  span#content Please Provide the Data !!
              .col-md-6.col-md-offset-3(style='padding-top:5%;', align='center')
                #warning.alert.alert-danger.hidden
                  span#content
      // Container Ends
    |     
    #footer
      .container
        br
        |         
        p(style='color:#AD1D28', align='center')
          | * Agro Expert System works only with the districts of the state TamilNadu, India.
    |     
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    |     
    script(src='js/bootstrap.min.js')
